/* .App {
  min-height: 100vh;
  text-align: center;
  background-image: url('./pictures/gear-layout.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
*/


.main-container {
  min-height: 100vh;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-content: space-between;
  background-image: url('../pictures/gear-layout.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

